.section-title {
  text-align: center;
  font-size: 10px;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.2;
  /* Tambahan efek gradient text */
  background: linear-gradient(90deg, #c084fc, #ff6ec7, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.section-title svg:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

